[submodule ".decompose/environment"]
	path = .decompose/environment
	url = https://github.com/dmp1ce/decompose-redmine.git
[submodule "containers/passenger/redmine_plugins/redmine-contracts-with-time-tracking-plugin"]
	path = containers/passenger/redmine_plugins/contracts
	url = https://github.com/upgradeya/redmine-contracts-with-time-tracking-plugin.git
[submodule "containers/passenger/redmine_plugins/redmine_hide_estimated_hours"]
	path = containers/passenger/redmine_plugins/redmine_hide_estimated_hours
	url = https://github.com/return1/redmine_hide_estimated_hours.git
[submodule "containers/passenger/redmine_plugins/recurring_tasks"]
	path = containers/passenger/redmine_plugins/recurring_tasks
	url = https://github.com/nutso/redmine-plugin-recurring-tasks.git
